@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F6F1;
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

header {
    width: 120%;
    padding: 20px;
    background-color: yellow;
}

nav a {
    display: inline;
    padding: 20px;
    font-size: 150%;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline overline;
}

.fullscreenimg {
    width: 800px;
}

#number {
    width: 50px;
}

footer {
    position:initial;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color:#0E5430;
    color:#F8F6F1;
    font-size: 80%;
}